@use '../../utilities/variables' as *;
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $primary-color;
  padding: $padding;
  color: #fff;

  nav ul {
      list-style: none;
      display: flex;

      li {
          margin: 0 10px;

          a {
              color: #fff;
              text-decoration: none;

              &:hover {
                  text-decoration: underline;
              }
          }
      }
  }
}
