// Colores principales
$primary-color: #12657a;
$secondary-color: #6c757d;
$background-color: #12657a;
$color-texto: #333;
$radio-borde-base: 8px;

// Tipografías
$font-stack: 'Arial', sans-serif;

// Espaciados
$padding: 1rem;
$margin: 1rem;
