@use '../utilities/variables' as *;
@use '../components/buttons' as *;
.comparador-container {
    text-align: center;
    padding: $padding;

    .calculadora-container {
        background: #fff;
        padding: $padding;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .input-group {
        margin-bottom: 1rem;
    }

    .boton-calcular {
        @extend .button;
    }

    .resultados-container {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;

        .resultado-categoria {
            text-align: center;
            font-size: 1.2rem;
            font-weight: bold;
        }
    }
}
